.App {
  text-align: center;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper {
  width: 70px;
  margin-top: -12px;
  padding: 0px;
}
.item {
  width: 120px;
  padding: 20px;
  height: 70px;
}
.text-wrapper {
}
.btn-wrapper button {
  /* margin-top: 20px; */
  display: block;
  background-color: skyblue;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
  font-weight: bold;
  font-size: 1rem;
  width: 5rem;
}
.add-to-cart img {
  width: 80px;
  position: absolute;
  right: 2%;
  top: 3%;
}
.cart-items {
  position: absolute;
  right: 50px;
  z-index: 1;
  top: 20px;
  color: darkgreen;

  font-weight: 700;
}
.btn_remove {
  margin-top: 5px;
}
